{% extends 'veip/base.html' %}
{% load static %}
{% block title %}
VEIP
{% endblock %}
{% block content %}
<div class="tab">
  <button class="tablinks" onclick="tabClick(event, 'tab0')">Параметры VEIP</button>
  <button class="tablinks" onclick="tabClick(event, 'tab1')">Многовариантные расчеты</button>
  <!--button class="tablinks" onclick="tabClick(event, 'tab2')">Вкладка 2</button-->
  <button class="tablinks float-right" onclick="tabClick(event, 'tab3')">Помощь</button>
</div>

<div id="tab0" class="tabcontent">
  <h1>Параметры VEIP</h1>
  <form action="/veip/vivod/" method="post" onsubmit="">
    {% csrf_token %}
    <table>
      {{ form.as_table }}
    </table>
    <button type="submit">Расчет</button>
  </form>
</div>

<div id="tab1" class="tabcontent">
  <h3>Многовариантные расчеты</h3>

  <button onclick="addGroupOfParams(this,'Группа параметров ');">
    <i class="fa fa-plus"></i>
  </button>
  <button onclick="deleteGroupOfParams();">
    <i class="fa fa-trash"></i>
  </button>
  <div class="row">
    <div id="multiVarComp" class="col-8">
      <form action="/veip/multiVar/" method="post">
        <ul id="groupsList">

        </ul>
      <button type="button">Расчет</button>
      </form>
    </div>


    <div class="col-4">
      <table class="table table-sm border">
        {% for field in form %}
        <tr>
          <td id="{{ field.name }}" class="param-list"
              onclick="addParamToGroup(this, '{{ field.value }}')">
            {{ field.label }}
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  <!--form>
  {% for param_field in multiForm.get_param_fields %}
  {{ param_field }}
  {% endfor %}
  </form-->
</div>

<div id="tab2" class="tabcontent">
  <h3>Многовариантные расчеты</h3>
  <table>
    {{ multiVarForm.as_table }}
  </table>
  <button type="submit" disabled>Расчет</button>
</div>

<div id="tab3" class="tabcontent">
  <h3>Помощь</h3>
  <div id="helpTab">
    Текст вкладки помощь
  </div>
</div>
{% endblock %}
{% block javascript %}
<script src="{% static 'veip/veip.js' %}{{cache_key}}"></script>
<script>
  //https://stackoverflow.com/questions/895171/prevent-users-from-submitting-a-form-by-hitting-enter
  $(document).on("keypress", ":input:not(textarea)", function(event) {
    return event.keyCode != 13;
  });
  $('.tablinks')[1].click()
</script>
{% endblock %}