{% if wo %}
    <p>КОЭФФИЦИЕНТЫ ФОРМУЛЫ ОСНОВНОГО УДЕЛЬНОГО СОПРОТИВЛЕНИЯ ДВИЖЕНИЮ  (кгс/т)<br>
        Wo',  Wx = B + C·V + D·V·V,    где  V — скорость, км/ч</p>
    <table>
    <tr>
        <th>Коэффициенты</th>
        <th>B</th>
        <th>C</th>
        <th>D</th>
    </tr>
    <tr>
        <td>Звеньевой путь, под током  (Wo')</td>
        <td>{{wo.0.0.0}}</td>
        <td>{{wo.1.0.0}}</td>
        <td>{{wo.2.0.0}}</td>
    </tr>
    <tr>
        <td>на холостом ходу  (Wox)</td>
        <td>{{wo.0.1.0}}</td>
        <td>{{wo.1.1.0}}</td>
        <td>{{wo.2.1.0}}</td>
     </tr>
    <tr>
        <td>Бесстыковой путь, под током  (Wo')</td>
        <td>{{wo.0.0.1}}</td>
        <td>{{wo.1.0.1}}</td>
        <td>{{wo.2.0.1}}</td>
     </tr>
    <tr>
        <td>на холостом ходу  (Wox)</td>
        <td>{{wo.0.1.1}}</td>
        <td>{{wo.1.1.1}}</td>
        <td>{{wo.2.1.1}}</td>
     </tr>
    </table>
{% else %}
    <p>Не найдено КОЭФФИЦИЕНТОВ ФОРМУЛЫ ОСНОВНОГО УДЕЛЬНОГО СОПРОТИВЛЕНИЯ ДВИЖЕНИЮ</p>
{% endif %}






