{% extends 'kortes/base.html' %}
{% load static %}
{% block title %}
Редактор участков
{% endblock %}
{% block content %}
<div class="shapka">Редактор участков</div>
<div class="row">
    <div class="col-12 text-center">
        <div class="btn-group">
            <button type="submit" class="btn btn-primary">Создать</button>
            <button type="submit" class="btn btn-primary">Открыть</button>
            <button type="submit" class="btn btn-primary">Преобразовать из...</button>
            <button type="submit" class="btn btn-primary">Сохранить</button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center text-primary">
        {{ uch.UchNam }}
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        {{ prot }}
    </div>
</div>
<div class="row">
    <label class="col-5 text-right" for="road-input">Дорога</label>
    <div class="col-7">
        <input id="road-input" name="road-input" type="text" value="{{ uch.DorNam }}"/>
    </div>
</div>
<div class="row">
    <label class="col-5 text-right" for="comment-input">Примечание</label>
    <div class="col-7">
        <input id="comment-input" name="comment-input" type="text" value="{{ uch.Comment }}"/>
    </div>
</div>
<div class="row">
    <label class="col-6 text-right" for="odd-way-select">Нечетное направление от ст.</label>
    <div class="col-6">
        <select id="odd-way-select" name="odd-way-select">
            <option value="0">{{ odd_way_0 }}</option>
            <option value="1">{{ odd_way_1 }}</option>
        </select>
    </div>
</div>

<div class="row">
    <label class="col-5 text-right" for="put-count-select">Число главных путей</label>
    <div class="col-3">
        <select id="put-count-select">
            <option value="1">1</option>
            <option value="2" selected>2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
    </div>
</div>
<div class="row">
    <label class="col-6 text-right" for="difference_peregon">
        Учитывать различие профилей и длин перегонов путей
    </label>
    <div class="col-6">
        <input type="checkbox" name="difference_peregon" id="difference_peregon"
               {% if uch.Difl %}checked="checked" {% endif %}/>
    </div>
</div>
<div class="row">
    <fieldset class="col-8">
        <legend><strong>Таблицы</strong></legend>
        <button type="button" onclick="$('#myModal iframe')[0].src='/track/report/sep_points/{{ uch.id }}/'"
                data-toggle="modal" data-target="#myModal">Раздельные пункты
        </button>
        <br/>
        <button type="button" onclick="">Продольный профиль</button>
        <br/>
        <button type="button" onclick="">Категории и типы поездов</button>
        <br/>
        <button type="button" onclick="">Ограничения скорости</button>
        <br/>
    </fieldset>
    <img src="{% static 'kortes/uchastk/prosmotr.png' %}" class="col-4"/>
</div>

{% endblock %}